body {
    background-color: hsl(212, 45%, 89%);
    max-height: 100vh;
}



div {
    margin: 20vh 40%;
    border-radius: 1rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 20vw;
}

img {
    margin: 1rem;
    border-radius: 1rem;
}
